@import '../../App.scss';

.Contact {
    text-align: center;
    min-height: calc(100vh - 220px);
    font-size: $small-font;
    line-height: 46px;
    color: $dark;
    p {
        padding-top: 50px;
    }

    a {
        color: $blue;
    }
}
