@import '../../App.scss';

.Home {
    @extend .content;

    section.intro {
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
        $imgWidth: 345px;
        // min-height: calc(100vh - 53px);
        div.img {
            display: inline-block;
            width: $imgWidth;
            height: $imgWidth;
            background: $blue-purple-gradient;
            background-origin: border-box;
            border: 9px solid transparent;
            border-radius: $imgWidth;
            margin-top: 42px;
            img {
                border-radius: $imgWidth;
                width: 100%;
            }
        }
        p {
            font-size: 31px;
            line-height: 70px;
            letter-spacing: -1px;
            color: $blue;
            margin-top: 65px;
        }
    }
    section.my-projects {
        text-align: center;
        margin-top: 150px;
        p {
            font-size: $small-font;
            margin-top: 7px;
            color: $dark;
        }
        h1 {
            color: $blue;
            font-size: $medium-font;
            margin: 0 0 12px;
        }
        div.projects-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;
            div.project {
                width: 320px;
                text-decoration: none;
                margin: 0 20px 50px;
                box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
                border-radius: 20px;
                a {
                    color: $black;
                    text-decoration: none;
                }
            }
            img {
                width: 100%;
                display: block;
            }
            h3 {
                margin: 7px;
                font-size: $small-font;
                font-weight: inherit;
            }
        }
    }
    section.tech-stack {
        text-align: center;
        margin: 70px auto;
        h2 {
            color: $blue;
            font-size: $medium-font;
            margin: 0 0 12px;
        }
        p {
            font-size: $small-font;
            margin-top: 7px;
            color: $dark;
        }
        div.tech-stack-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 33px 0 80px;
        }
        div.tech {
            width: 70px;
            text-transform: uppercase;
            margin: 19px 29px;
            img {
                display: block;
                width: 100%;
            }
            span {
                margin: 8px auto;
                font-size: 19px;
                color: $dark;
                display: block;
            }
        }
    }
}
@media (max-width: 1150px) {
    .Home {
        section.intro {
            flex-direction: column-reverse;
            p {
                text-align: center;
            }
            div.img {
                margin: 42px auto 0;
            }
        }
    }
}
